@media (max-width: 576px) {
    .table-responsive {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .table th, .table td {
        white-space: nowrap;
    }

    .img-fluid {
        max-width: 100%;
        height: auto;
    }

    .d-flex {
        flex-direction: column;
        align-items: flex-end;
    }

    .container {
        padding-left: 0;
        padding-right: 0;
    }

    .p-5 {
        padding: 1rem !important;
    }
}