
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="http://{{product?.imageUrl}}" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">Ürün Numarası: {{product?.id}}</div>
                <div class="small mb-1 pointer" routerLink="/products/category/{{categoryId}}">Ürün Kategorisi: {{categoryName}}</div>
                <h1 class="display-5 fw-bolder">{{product?.name}}</h1>
                <div class="fs-5 mb-5">
                    <span>{{product?.price}} TL</span>
                </div>
                <!-- <div [innerHTML]="product?.description"></div> -->
                <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet harum similique quia, quo placeat nisi expedita non obcaecati. Corporis laudantium enim ut corrupti ea vel fugit totam laborum. Obcaecati, iste?</P>
                <div class="d-flex-center-4 ">
                  
                    <button  *ngIf="isAuthenticated" class="btn btn-outline-dark flex-shrink-0 mb-2" type="button" (click)="addtocart(product?.id)">
                        <i class="bi-cart-fill me-1"></i>
                        SEPETE EKLE
                    </button>
                    <button  *ngIf="!isAuthenticated" class="btn btn-outline-dark flex-shrink-0 mb-2" type="button" routerLink="/auth">
                        <i class="bi-cart-fill me-1"></i>
                        GİRİŞ YAP
                    </button>


                    
                    <div class="pb-2 mx-5"> 
                        <a href="" class="text-black mx-2"><i class="fa-brands fa-facebook fs-3" ></i></a>
                        <a href="" class="text-black mx-2">  <i class="fa-brands fa-whatsapp  fs-3"></i></a>
                        <a href="" class="text-black mx-2"> <i class="fa-brands fa-square-instagram fs-3"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Benzer Ürünler </h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" *ngFor="let pro of products" >
                <div class="card h-100" >
           
                    <img class="card-img-top" src="http://{{pro?.imageUrl}}" alt="..."  />
               
                    <div class="card-body p-4">
                        <div class="text-center">
                          
                            <h5 class="fw-bolder">{{pro?.name}}</h5>
                          
                           
                           {{pro.price}}
                        </div>
                    </div>
                
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" routerLink="/products/{{pro.id}}">Ziyaret et </a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



  