
  <section style="background-color: #eee;" *ngIf="products">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-12 col-lg-4 mb-4 mb-lg-0" *ngFor="let product of products | paginate: { itemsPerPage: 6, currentPage: page }">
          <div class="card mb-4">
            <img src="http://{{product.imageUrl}}" class="card-img-top" alt="Laptop" routerLink="/products/{{product.id}}" style="height: 250px;" />
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <p class="small"><a routerLink="/products/category/{{product.categoryId}}" class="text-muted">{{getCateogry(product.categoryId)}}</a></p>
              </div>
              <div class="d-flex justify-content-between mb-3">
                <h5 class="mb-0">{{product.name}}</h5>
                <h5 class="text-dark mb-0">{{product.price}} TL</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <pagination-controls class="d-flex justify-content-center" (pageChange)="page = $event"></pagination-controls>
    </div>
  </section>

