.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box {
    width: 300px; /* İstediğiniz genişlik */
    height: 130px; /* İstediğiniz yükseklik */
    margin: 10px; /* İstediğiniz aralık */
    display: flex;
    justify-content: center;
    align-items: center;
}
.border-radius{
    border-radius: 50%;
}
.border-radius-5{
    border-radius: 5px;
}
.bg-gray{
    background-color: #f5f7fa;
}
.bg-lightGray{
    background-color: #dce0e5;
}
.h-60{
    height: 60%;
}
.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black; /* Yazı rengini siyah yapar */
   
    padding: 1em;
    border-radius: 5px;
  }

.mt-7{
    margin-top: 100px;
    margin-bottom: 60px;
}